
html {
    margin: 0 15%;
}

h1 {
    text-align: center;
    font-family: 'Palette Mosaic', 'Times New Roman', Times, serif,sans-serif;
}
header{
    margin: 8% 0%;
}
/*Navigation*/
nav{
    background-color: grey;
    display: flex;
    width: 100%;
    border-radius: 2%;
}
.logo{
    display: inline-block;
}
.logo h2{
margin-left: 10px;
position: relative;

color: aliceblue;
font-family: Hurricane;
font-size: 2rem;
}

.nav-container{
   float: right;
   margin-left: 30%;
}

.navtag{
    display: inline-block;
    width: 10%;
    margin: 20px;
}

.navtag a {
    text-decoration: none;
    color:aliceblue;
}

/*Section: About*/
.container{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
    html{
        margin: 0 10%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }
    #about{
        margin-bottom: 130px;
        display: flex;
        height: 600px;
    }

    .img-container{
        position: relative;
        top: 100px;
        margin-left: 0px;
        
    }
    
}
.about-info{
    width: 60%;
    display: inline-block;
}

.img-container{
    position: relative;
    top:10px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
    border-radius: 15%;
}

.img-container img{
    height: 100%;
    width: 100%;
    position: relative;
}

.button{
    font-family: Hurricane;
    display: block;
    color: aliceblue;
    background-color: silver;
    border-radius: 5%;
    border: 2px solid black;
    width: 100px;
}

.button:hover{
    background-color: grey;
    cursor: pointer;
}


/*Section: Projects*/

#project{
    margin: 50px 0;
}

.project{
    margin: 20px 0;
    margin-left: 30px;;
}

.project-img{
    overflow: hidden;
    height: 400px;
    width: 600px;
}

.project-img img{
    height: 100%;
    width: 100%;
}

.trigger{
    font-family: "Hurricane";
    font-size: 2em;
}

.trigger-identifier{
    font-family: 'Times New Roman', Times, serif;
    font-size: .6em;
    font font-weight: light;
}

.trigger::marker {
color: black;
}

.trigger:hover{
    cursor: pointer;
}
/*Section: Skills*/

.skills-container{
    display: flex;
}
.skill-container{
    width: 50px;
    height: auto;
    margin: 0px 15px;
}

.skill-container img{
    width: 100%;
    height: 100%;
}


/*Section: Contact*/
#contact{
    margin: 100px 0;
}